<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <% if (products.length > 0) { %>
    <ul>
        <% for (let product of products) { %>
        <li>
            <h3><%= product.title %></h3>
            <p><%= product.description %></p>
            <p>Quant. x<%= product.cartItem.quantity %> -
                Total R$<%= product.price * product.cartItem.quantity %></p>
            <p>
                <form action="/cart/remove-product" method="post">
                    <input type="hidden" name="productId" value="<%= product.id %>">
                    <input type="hidden" name="productPrice" value="<%= product.price %>">
                    <button type="submit">Remover</button>
                </form>
            </p>
        </li>
        <% } %>
    </ul>
    <form method="post" action="/orders/add-order">
        <button type="submit">Order now</button>
    </form>
    <% } else { %>
    <p>Nenhum produto no carrinho. =(</p>
    <% } %>
    <%- include('../includes/end.ejs') %>