<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<% if (orders.length > 0) { %>

    <% orders.forEach(order => { %>
        <p><%= order.id %></p>
        <ul>
            <% for (let item of order.products ) { %>
                <li><%= item.title %> (<%= item.orderItem.quantity %>)</li>
            <% } %>
        </ul>
    <% }) %>

    <% } else { %>
        <p>No order to show</p>
    <% } %>

    <%- include('../includes/end.ejs') %>