<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>

    <h1><%= product.title %></h1>
    <h2><%= product.description %></h2>
    <p>
        <img src="<%= product.imageUrl %>" height="100" width="100">
    </p>
    <p>R$ <%= product.price %></p>
    <% if (isAuthenticated) { %>
    <%- include('../includes/add-to-cart.ejs', {product: product}) %>
    <% } %>

<%- include('../includes/end.ejs') %>