<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>

        <% if(errorMessages.length > 0) { %>
            <div class="message message--error">
                <%= errorMessages %>
            </div>
        <% } %>

        <form action="/auth/login" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <input type="text" name="email" placeholder="E-mail">
            <input type="password" name="password" placeholder="Senha">
            <button type="submit">Login</button>
        </form>
    </main>

    <%- include('../includes/end.ejs') %>